{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "AzureStorageConnectionString": "UseDevelopmentStorage=true"
  },
  "Host": {
    "CORS": "*",
    "CORSCredentials": false
  }
}
